[submodule "message/opentelemetry"]
	path = message/opentelemetry
	url = ../opentelemetry-proto.git
[submodule "agent/src/ebpf/libs/jattach"]
	path = agent/src/ebpf/libs/jattach
	url = ../jattach
	ignore = dirty