[Unit]
Description=droplet.service
After=syslog.target network-online.target

[Service]
Environment=GOTRACEBACK=crash
LimitCORE=infinity
LimitNOFILE=65536
ExecStart=/usr/sbin/droplet
Restart=always
RestartSec=10
MemoryLimit=20G

[Install]
WantedBy=multi-user.target
