[Unit]
Description=pcap-rest
After=syslog.target network-online.target

[Service]
ExecStart=/usr/bin/python /usr/local/deepflow/pcap-rest/pcap-rest.py
ExecStop=/bin/kill $MAINPID
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target deepflow.target
