[client]
default-character-set=utf8

[mysqld]
default-authentication-plugin=mysql_native_password

# Network related
bind-address=*
port=30130

# Enable query cache
innodb_buffer_pool_size=20M
max_connections=1000
wait_timeout=60

# Replication related
slave_skip_errors=all

## Binlog expiration time, default 1 days
binlog_expire_logs_seconds = 86400