package zerodoc

import (
	"github.com/deepflowio/deepflow/server/libs/pool"
)

{{ range . }}

	{{ $pool_name := print "pool" . }}

	var {{$pool_name}} = pool.NewLockFreePool(func() interface{} {
		return new({{.}})
	})

	func Acquire{{.}}() *{{.}} {
		return {{$pool_name}}.Get().(*{{.}})
	}

	func Release{{.}}(meter *{{.}}) {
		if meter == nil {
			return
		}
		*meter = {{.}}{}
		{{$pool_name}}.Put(meter)
	}

	func Clone{{.}}(meter *{{.}}) *{{.}} {
		newMeter := Acquire{{.}}()
		*newMeter = *meter
		return newMeter
	}

	func (m *{{.}}) Clone() Meter {
		return Clone{{.}}(m)
	}

	func (m *{{.}}) Release() {
		Release{{.}}(m)
	}

	func (m *{{.}}) ToReversed() Meter {
		newMeter := m.Clone()
		newMeter.Reverse()
		return newMeter
	}

{{ end }}
