/target

# generated protobuf files
!src/proto/mod.rs
!src/integration/
!src/integration/mod.rs
src/proto/*.rs
src/proto/integration/*.rs
src/plugin/wasm/wasm_plugin.rs
src/flow_generator/protocol_logs/mq/pulsar.proto.rs

src/ebpf/data
src/ebpf/.data_done
src/ebpf/libtrace.a
src/ebpf/deepflow-ebpfctl
src/ebpf/kernel/*.elf.tmp
src/ebpf/kernel/socket_trace.ll
src/ebpf/tools/ebpftobuffer

*.o
*.elf
*.objdump
src/ebpf/samples/rust/src/ebpf.rs
src/ebpf/samples/rust/target/*
src/ebpf/llvm-clang-11.0.0-2.el7.x86_64.rpm
src/ebpf/tools/ebpftobuffer

.rpmbuild/
actual.txt
